This is the /USER/INDEX

<h1><%=@user.profile.username%></h1>
<h4><%=@user.profile.city%>, <%=@user.profile.state%></h4>


<!-- Checks to see if a user is already invited to groups.  If not, it provides the default message. -->
<% if @user.invitations.map(&:user_id).include? current_user.id %>

<%=link_to "Groups", groups_path %>
<%else%>
	This application is in beta testing.  <br><br>It appears that you have not been invited to join a group to test this application. <strong>Inclusion in a group is by invitation only.</strong>  If you would like to be included in a test, you will need to have a current user invite you to join a test.
	<br><br>

	Thank you.

<%end%>

<br><br><br><br><br>

Admin portal
<br>
If an admin this should display... <br>

<%=link_to "create a new group", new_group_path %>

<br>

<%=link_to "create a new event", new_event_path %>


