<span class="admin_nav">
	<%=link_to "Return to Groups", groups_path%>
	<%=link_to "Return to #{@g.gname}", group_path(@g.id)%>
</span>



<br>

<br><br>
<h1>

	<%=@event.event_name%>
	
</h1>
<br>
<br>
List of brackets in this event:
<% @brackets.each do |brackets| %>
<br>
<span class="bracket_names">
<%= link_to brackets.name, group_event_bracket_path(@group, @event.id, brackets.id)%></span>
<%end%>

<br>

<br>

<h3>Scoreboard:</h3>


<table border="1" width="900px"><tr>
			<td>User</td><td>Points</td></tr>
<% @draft.each do |draft| %>
<% if draft.present?%>
<tr>
	<td><span class="username"><%= link_to draft.user.profile.username, group_event_draft_path(@group, @event.id, draft.id)%> </span></td>
<td>
<span class="username"><%=draft_score(draft.id)%></span>



<%end%>

<%end%>
</td>
</tr>
</table>

<br>

<br>

Create a draft for this event.
<br>
<%= link_to "Enter a team into this event", new_group_event_draft_path(@group, @event.id)%>

