<span class="admin_nav">
	<%= link_to "Back to your draft", group_event_draft_path(@group, @event_id, @draft.id)%>
</span>

<br><br>

<h1><%=@draft.user.profile.username%>'s draft for <%=@draft.event.event_name%></h1> 

<br>



<br><br><br>

<%@brackets.each do |b|%>
	<%= link_to b.name %>
<% current_competitor = nil %>
<!-- This form needs to be reworked and rewritten in ruby.  Also needs to default to blank if there is a value of nil for the competitor -->
	<%= form_tag update_draft_selection_path do %>
		
		<select name="competitor_id" id="competitor_id">
			<%b.competitors.each do |c|%>	
					
				<option value= <%=c.id%>
					<%if @draft.competitors.include?(c)%>,  selected="selected"
					<% current_competitor = c.id %>
					<%end%>>
						 
					<%="#{c.fname} #{c.lname}, #{c.team}"%>
					</option>
					<%end%>
				</select>
				<%= hidden_field_tag :current_competitor_id, current_competitor %>
				<%= hidden_field_tag :bracket_id, b.id %>
				<%= hidden_field_tag :event_id, b.event.id %>
				<%= hidden_field_tag :draft_id, @draft.id %>

					<%= submit_tag "Change" %>
					<% end %>

			
				
<br>
<%end%>

