<br><br>
This is the drafts show
<h1><%=@draft.user.profile.username%>'s draft for <%=@draft.event.event_name%></h1> 

<br>
<%@team.each do |team|%>

<%if team.fname.empty?%>
You need to select a competitor for this bracket
<%else%>
<%=team.id%>BRACKET NAME: <%=team.fname%> <%=team.lname%> LINK

<%end%>
<br>
<%end%>

The event starts on: <%= @event.start_date%>  
Today's date is <%=DateTime.now%>
<br><br>
<%if @event.start_date < DateTime.now %>
Event already started
<%elsif @event.start_date > DateTime.now %>
This event has not started

<%end%>





<br><br><%=link_to "Return to the #{@group.gname}'s #{@event.event_name} scoreboard", group_event_path(@group_id, @event_id)%> 
<br>
<%=link_to "Edit your draft", edit_group_event_draft_path(@group_id, @event_id, @draft)%> 
<br><br><br><br>
<!-- for i in 0..lenght

scores["bracket-#{i}""] =  -->


<!-- All the logic needs to be moved to the controller -->

<%@brackets.each do |b|%>
<%= link_to b.name, group_event_bracket_path(@group, @event.id, b.id)%>
<%=b.sponsor%>
<% running_points = 0 %>
	<%b.competitors.each do |c|%>
		<%if @draft.competitors.include?(c)%>
		<strong><%="#{c.fname} #{c.lname}, #{c.team}"%></strong> <br>
			<%c.all_matches.each do |match|%>
			<%if @user.admin.present?%>

			<%=link_to "edit match", edit_event_match_path(@event.id, match.id)%>
			<%end%>
			
			<%="#{match.tournament_match_number}"%> 
		

			<%="#{match.winning_competitor.fname} #{match.winning_competitor.lname} (#{match.winning_competitor.team}) #{round_text(match.bracket_round)} #{match_text(match.result)} #{match.losing_competitor.fname} #{match.losing_competitor.lname} (#{match.losing_competitor.team}), #{match.score}"%>
			
			<%if @draft.competitors.include?(match.winning_competitor)%>
			<% running_points += points_from_match(match_points(match.result), match.advancement_points, match.placement_points) %>
			<%end%>

			<%="Team Points: #{running_points}"%>
			<br>
			

			<%end%>
			


		<%end%>
		


	<%end%>
	<%="Total Points Earned: #{running_points}" %>
	<br>
	<br>
<%end%>







