<!DOCTYPE html>
<html>
<head>
  <title>MyWrestler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- <p><%= "CONTROLLER:#{controller.controller_name} ACTION:#{controller.action_name}"  %></p> -->

	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
	<% if current_user %>
	       <span class="nav_bar">
				<%= link_to('Home', root_path, :method => :get) %>
				<%= link_to('Edit Profile', profile_edit_path, :method => :get) %>
				<%= link_to('Edit Password', edit_user_registration_path, :method => :get) %>
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</span>
		<%end%>
<%= yield %>

</body>
</html>
